{% extends 'layouts/layout.html' %}

{% block title %}Teste{% endblock %}

{% block content %}

<section class="sm:w-full lg:w-2/3 xl:w-1/2  p-4 m-auto bg-dark-pagina" id="pagina">

    <div class="mb-10">
        {% set page_header_title = 'Geração de Questões - v0.1' %}
        {% include 'components/page-header.html' %}
    </div>

    <div class="flex flex-col">
        <section class="flex items-center">
            <label class="w-36 text-center">Nome: </label>
            <input class="p-2 border border-black rounded-sm m-1" type="text" />
        </section>
        <section class="flex items-center">
            <label class="w-36 text-center">Idade: </label>
            <input class="p-2 border border-black rounded-sm m-1 w-20" type="number" value="24" min="6" max="60" />
        </section>
        <!-- <section class="flex items-center">
            <label class="w-36 text-center">Idade: </label>
            <input class="p-2 border border-black rounded-sm m-1" type="text" />
        </section> -->
        <section class="flex justify-end items-center p-2 my-2 gap-x-2">
            <button class="p-2 bg-dark-botao hover:bg-dark-fundo rounded-sm">Limpar Campos</button>
            <button class="p-2 bg-dark-botao hover:bg-dark-fundo rounded-sm">Gerar Questão</button>
        </section>
    </div>

    {% set card_section_title = 'Questão' %}
    {% set card_section_body %}
    <div class="h-32">
        <textarea class="w-full h-full p-2 border border-dark-fundo"  name="questao" id="questao"></textarea>
    </div>
    {% endset %}    
    {% include 'components/card-section.html' %}
</section>
{% endblock %}

{% block style %}
<style scoped>
    input, textarea {
        color: black !important;
    }

    textarea {
        resize: none;
    }

    #pagina {
        background: rgb(34,34,34);
        background: linear-gradient(180deg, rgba(34,34,34,1) -100%, rgba(62,62,62,1) 80%); 
    }

</style>
{% endblock %}