<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    {% block style %}{% endblock %}
</head>
<body class="p-2 w-screen h-screen bg-dark-fundo text-dark-texto">
    {% block content %}{% endblock %}
</body>
</html>
